<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="public/css/style.css"/>
    <title>Frameworkless</title>
</head>
<body>
    <div class="container">
        <header class="p-3 mb-3 border-bottom">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-between">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 p-color text-decoration-none fw-bold font-monospace">
                    Frameworkless
                </a>

                <ul class="nav col-12 col-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="/" class="nav-link px-4 link-dark">Home</a></li>
                    <li><a href="/showcases" class="nav-link px-4 link-dark">Showcases</a></li>
                    <li><a href="/about" class="nav-link px-4 link-dark">About</a></li>
                </ul>
            </div>
        </header>
        <main class="main-content">
            {{> @partial-block }}
        </main>
    </div>
    <footer class="main-footer py-3 mt-5">
        <div class="container text-center">
            <p class="mb-0">Online users: <span class="online-users-counter fw-bold">&nbsp;</span></p>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.min.js"
            integrity="sha512-eVL5Lb9al9FzgR63gDs1MxcDS2wFu3loYAgjIH0+Hg38tCS8Ag62dwKyH+wzDb+QauDpEZjXbMn11blw8cbTJQ=="
            crossorigin="anonymous"></script>
    <script>
        const onlineUsersCounter = document.querySelector('span.online-users-counter');
        const updateUserCounter = function (number) {
            onlineUsersCounter.innerHTML = number;
        }

        const socket = io();

        socket.on('subscribe', (success, msg) => {
            if (success) {
                socket.on('topic/NUMBER_ONLINE_CLIENTS', (msg) => {
                    updateUserCounter(msg);
                });
            }
        }).emit('subscribe', 'NUMBER_ONLINE_CLIENTS');
    </script>
</body>
</html>
