{{#>main_layout}}
    <div class="page-about">
        <section class="text-center mb-5">
            <p class="mb-3">About me</p>
            <img src="/public/images/cos.like.jpg" alt="Thang X. Vu" class="mb-3" width="150">
            <h3>Thang X. Vu - @sinzii</h3>
        </section>
    </div>
{{/main_layout}}
