{{#>main_layout}}
    <div class="page-about">
        <section class="text-center mb-5">
            <p>About me</p>
            <h1>Thang X. Vu - @sinzii</h1>
            <img src="/public/images/cos.like.jpg" alt="Thang X. Vu" class="mt-5">
        </section>
    </div>
{{/main_layout}}
