{{#>main_layout}}
    <div class="page-index">
        <section class="text-center">
            <h1>A simple frameworkless application</h1>
            <p>Made from scratch without any backend framework</p>
            <p>Start small, step by step, we can make it big!</p>
        </section>
    </div>
{{/main_layout}}
