{{#>main_layout}}
    <div class="page-index">
        <section class="text-center">
            <h2>A simple <span class="p-color">frameworkless</span> application</h2>
            <p>Made from scratch without any backend framework</p>
            <p>Start small, step by step, we can make it big!</p>
            <a href="/showcases" class="btn btn-primary">See what we can do</a>
        </section>
    </div>
{{/main_layout}}
