<h3 class="mb-3"><small>Hello</small> {{_session.currentUser.name}}</h3>

<div class="list-group">
    <a href="/?view=update-profile" class="list-group-item list-group-item-action">Update profile</a>
    <a href="/?view=change-password" class="list-group-item list-group-item-action">Change password</a>
    <br/>
    <a href="/logout" class="list-group-item list-group-item-action list-group-item-secondary">Logout</a>
    <a href="/?view=suspend-account" class="list-group-item list-group-item-action list-group-item-danger">Suspend account</a>
</div>
